@import 'variables/_variables';
@import 'variables/_colors';
@import 'components/about-box';
@import 'components/button';
@import 'components/input';
@import 'components/logo';
@import 'components/movie-info/movie-poster';
@import 'components/movie-info/timecode-input';
@import 'components/movie-info';
@import 'components/search-area';

body {
  background-color: $body-background-color;
  min-height: 100%;
  position: relative;
}

.wym-content {
  background-color: $content-background-color;
}