@import 'variables/variables';
@import 'header';
@import 'searchresults';
@import 'movieinfo';

body {
  background-color: $body-background-color;
}

.total {
  min-height: 100%;
  position: relative;
}

#background-video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; // optional depending on what you want
}

.wym-content {
  background-color: $content-background-color;
}