@import 'variables/variables';
@import 'header';
@import 'searchresults';
@import 'movieinfo';

body {
  background-color: $body-background-color;
  padding-bottom: 50px;
}

.wym-content {
  background-color: $content-background-color;
  border-radius: 5px;
}
