@import 'variables/variables';
@import 'header';
@import 'searchresults';
@import 'movieinfo';

body {
  background-color: $body-background-color;
}

.total {
  min-height: 100%;
}

.wym-content {
  background-color: $content-background-color;
}
