@import 'variables/_variables';
@import 'variables/_colors';

.wym-results {
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  cursor: pointer;
  width: 600px;

  .wym-search-result {
    &:hover {
      background-color: $menu-point-hover-color;
      transition: background-color $default-hover-time;
    }
    &-image {
      width: 100px;
    }
    &-text {
      vertical-align: middle;
      color: black;
    }
    @media only screen and (max-width: 1080px) {
      font-size: 2em;
    }
  }
  
  @media only screen and (max-width: 1080px) {
    font-size: 2em;
  }
}

.active {
  background-color: $menu-point-hover-color;
}