.wym-movie-info {
    padding: 50px;
  }
  
  .wym-movie-meta {
    display: flex;
  }
  
  .wym-movie-info-text {
    text-align: left;
    height: $movie-info-height;
    padding-left: 50px;
    margin-bottom: 40px;
  }
  
  .wym-plotbuilder {
    margin-top: 30px;
  }
  
  .wym-movie-info-plot {
    height: 0px;
    opacity: 0;
    &-active {
      font-size: 16pt;
      margin-top: 30px;
      opacity: 100;
    }
  }
  
  .wym-title {
    font-size: 25pt;
    
    @media only screen and (max-width: $media-only-mobile-width) {
      font-size: 30pt;
    }
  }
  
  .wym-subtitle {
    font-size: 16pt;
    
    @media only screen and (max-width: $media-only-mobile-width) {
      font-size: 21pt;
    }
  }